.movie-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

@media screen and (max-width: 1920px) {
    .movie-container {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media screen and (max-width: 1280px) {
    .movie-container {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (max-width: 900px) {
    .movie-container {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (max-width: 600px) {
    .movie-container {
        grid-template-columns: repeat(1, 1fr)
    }
}

.page-title {
    margin-bottom: 50px;
    text-align: center;

    h1 {
        font-size: 5em;
    }
}

.no-favorites-text {
    margin-top: 200px;
    color: darkgray;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}